a.logo {
  position: absolute;
  left: 35px;
  bottom: 35px;
  z-index: 1000;
  background-color: gray;
  /*
  border: solid gray 4px;
  */
  -webkit-border-radius: 15px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 15px white;
}

a.logo > img {
  /* border:none !important; */
  height: 3em;
}

.reveal pre code {
  background: #3F3F3F;
  color: #DCDCDC;
}
